<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <title>MOOCACHA - Learning with videos and chatbots</title>
        <!-- Bootstrap core CSS -->
        <link
        href="{% static 'moocacha/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'moocacha/css/small-business.css' %}" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">MOOCACHA - Massive Open Online Courses Assistent Chatbot</a>
                <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul
                        class="navbar-nav ml-auto"><!--
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/signup">Sign Up</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/signin">Sign In</a>
                                                    </li>
                                                -->
                    </ul>
                </div>
                <div>
                    <img src="{% static 'moocacha/img/konkukU.jpg' %}" alt="" style="width: 30%; height:30%;margin-right: 1pt"  align="right">
                </div>  
            </div>
        </nav>
        <!-- Page Content -->
        <div class="container">
            <!-- Heading Row -->
            <div class="row align-items-center my-5">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'moocacha/img/main.png' %}" alt="">
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-5">
                    <img src="{% static 'moocacha/img/logo.png' %}">
                    <h2 style="font-weight:bold">MOOC Assistant Chatbot</h2>
                    <p>
                        MOOCACHA(MOOC Assistant Chatbot)는 동영상 강의를 보면서 궁금한 내용을 챗봇에게 질문할 수 있는 동영상 강의 플랫폼입니다. 이제 궁금한 내용을 챗봇에게 바로 물어보세요. 챗봇이 언제든지 여러분의 궁금증을 해결해줍니다!
                    </p>
                    <a class="btn btn-primary" href="/main">Get started</a>
                    <a class="btn btn-primary" href="/upload">Upload Video</a>
                    <a class="btn btn-primary" href="/upload_chatbot">Upload Chatbot</a>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
            <!-- Call to Action Well -->
            <div
                class="card text-white bg-secondary my-5 py-4 text-center">
                <!--
                                      <div class="card-body">
                                        <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
                                      </div>
                                      -->
                <div class="card-body" id="main-contents-search">
                    <span class="text-white m-0">
                        <h1>미래를 여는 최고의 강좌</h1>
                        <h3>MOOCACHA, Top Quality Courses for Your Future</h3>
                    </span>
                    <form action="/test" id="main_form" method="post">
                        {% csrf_token %}
                        <div>
                            <input name="query" placeholder="어떤 강좌를 학습하고 싶으세요?" size="70%" type="text">
                            <button type="submit">
                                <img src="{% static 'moocacha/img/search.png' %}" width="20">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Content Row -->
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Lecture 1</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-sm" href="#">More Info</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Lecture 2</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-sm" href="#">More Info</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Lecture 3</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-sm" href="#">More Info</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="row">
                    <img src="{% static 'moocacha/img/manual.png' %}">
                </div>              
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; 건국대학교 사물지능 연구실 2019</p>
            </div>
            <!-- /.container -->
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'moocacha/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'moocacha/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>